<head>
    <title>ANC Real Estate - Contact</title>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/font-awesome.css" type="text/css" rel="stylesheet">
     <link rel="shortcut icon" href="img/favicon.png">

</head>
<body class="contact-bg">
    <!-- Start  Section Contact -->
    <section class="contact-page no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 no-padding bg">
                    <div class="revolution">
                        <p> Amal Nassruddin</p>
                        <h1>Revolution in Construction </h1>
                        <img src="img/login-circles.png"  align="right">
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="login-to-account">
                        <a href="index.html"><img src="img/logo.png"> </a>
                        <h3>Welcome Back! </h3>
                        <p> Login to your account to manage the <br> website content, images and projects. </p>
                        <div class="form-area">
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="mh4md.a@gmail.com" required="">
                                    <input type="text" class="form-control" id="password" name="password" placeholder="******" required="">
                                    <button type="button" id="submit" name="submit" class="btn btn-primary ">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Contact -->
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</html>